/* *************************** */
/* BELOW 1344PX (smaller desktop) */
/* *************************** */

@media (max-width: 84em) {
  .header-text-box {
    max-width: 120rem;
  }

  .header-text {
    font-size: 1rem;
  }
}

/* *************************** */
/* BELOW 1200PX (Landscape Tablet) */
/* *************************** */

@media (max-width: 75em) {
  html {
    font-size: 89.75%;
  }

  header {
    column-gap: 3rem;
    margin-top: 2rem;
  }
}

/* *************************** */
/* BELOW 944PX (Landscape Tablet) */
/* *************************** */

@media (max-width: 59em) {
  header {
    column-gap: 2.5rem;
    margin-top: 1.6rem;
    grid-template-columns: 70%;
    text-align: center;
    justify-content: center;
  }

  img {
    width: 60%;
    margin: 2rem auto;
  }

  section h2 {
    text-align: center;
  }

  .grid-3-cols {
    grid-template-columns: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 5rem;
  }

  .img-customer {
    transform: scale(165%);
  }

  .img-cart img {
    transform: scale(150%);
  }
}

/* *************************** */
/* BELOW 704PX (SMALLER Tablet) */
/* *************************** */

@media (max-width: 44em) {
  header {
    column-gap: 2.5rem;
    margin-top: 1.6rem;
    grid-template-columns: 70%;
    text-align: center;
    justify-content: center;
  }

  body {
    border-bottom: none;
  }

  img {
    width: 60%;
    margin: 2rem auto;
  }

  section h2 {
    text-align: center;
  }

  .grid-3-cols {
    grid-template-columns: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 5rem;
  }

  .img-customer {
    transform: scale(165%);
  }

  .img-cart img {
    transform: scale(150%);
  }
}

/* *************************** */
/* BELOW 544PX (Phones) */
/* *************************** */

@media (max-width: 34em) {
  header {
    column-gap: 2.5rem;
    margin-top: 1.6rem;
    grid-template-columns: 70%;
    text-align: center;
    justify-content: center;
  }

  body {
    border-bottom: none;
  }

  img {
    width: 60%;
    margin: 2rem auto;
  }

  section h2 {
    text-align: center;
  }

  .footer-box {
    width: 80%;
    margin: 0 auto;
  }

  .grid-3-cols {
    grid-template-columns: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 5rem;
  }

  .img-customer {
    transform: scale(165%);
  }

  .img-cart img {
    transform: scale(150%);
  }

  .container {
    padding: 0 0.5rem;
  }
}

/* *************************** */
/* BELOW 480PX (Phones) */
/* *************************** */

@media (max-width: 30em) {
  header {
    column-gap: 2.5rem;
    margin-top: 1.6rem;
    grid-template-columns: 70%;
    text-align: center;
    justify-content: center;
  }

  body {
    border-bottom: none;
  }

  img {
    width: 60%;
    margin: 2rem auto;
  }

  section h2 {
    text-align: center;
  }

  .footer-box {
    width: 80%;
    margin: 0 auto;
  }

  .grid-3-cols {
    grid-template-columns: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 5rem;
  }

  .img-customer {
    transform: scale(165%);
  }

  .img-cart img {
    transform: scale(150%);
  }

  .container {
    padding: 0 0.5rem;
  }
}
